target/
.svn
out/
*.iwr
*.iml
*.ipr
*.iws
groovy-bin/*
*.class
*.jar
*.*~
.idea
node
node_modules/*
.project
.classpath
atlassian-ide-plugin.xml
node_modules
src/main/webapp/resources/scripts/myfaces_ts/**/*.js
src/main/webapp/resources/scripts/myfaces_ts/ts_test/**/*.js
src/main/typescript/*.js
src/main/typescript/*.js.map
